@model Evernote.Entities.Models.Note

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Details Note</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDraft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDraft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-success" href="~/Note/Edit/@Model.NoteId">Edit</a>
    <a class="btn btn-info" href="~/Note/Index/">Back to List</a>
</p>
